<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="text/javascript">
        const base_url = "{{ site.github.url }}";
        const repo_url = "{{ site.github.repository_url }}";
        const repo_branch = "{{ site.github.source.branch }}";
        const repo_path = "{{ site.github.source.path }}";
    </script>
    <script type="text/javascript"
        src="{{ '/assets/js/prepare.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script type="text/javascript"
        src="{{ '/assets/js/colored-block.js?v=' | append: site.github.build_revision | relative_url }}"></script>

    {% include head-custom.html %}

    {% seo %}
</head>

<body>

    <header>
        <div class="head_wrapper">
            <div class="container">
                <a id="a-title" href="{{ '/' | relative_url }}">
                    <h1>{{ site.title | default: site.github.repository_name }}</h1>
                </a>
                <h2>{{ site.description | default: site.github.project_tagline }}</h2>

                <section id="downloads">
                    {% if site.show_downloads %}
                    <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                    <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
                    {% endif %}
                    <a id="view-on-github-link" class="btn btn-github"><span class="icon"></span>View on
                        GitHub</a>
                    <a id="view-demo-link" class="btn btn-demo">View Demo</a>
                    <script>
                        const githubLink = document.getElementById('view-on-github-link');
                        githubLink.href = getViewOnGitHubUrl();
                        const demoLink = document.getElementById('view-demo-link');
                        demoLink.href = getViewDemoUrl();
                    </script>
                </section>
            </div>
            <div class="extra-buttons">
                <a id="back-page-link" class="btn btn-extra">返回</a>
                <select id="select-lang" class="btn btn-extra select-lang" onchange="redirectToLanguage()">
                    <option class="btn option-lang" value="zh-CN">
                        简体中文
                    </option>
                </select>
                <script>
                    document.getElementById("select-lang").value = 'zh-CN';
                    if (lang_index !== -1) {
                        document.getElementById("select-lang").value = paths[lang_index];
                    }

                    const backPageLink = document.getElementById('back-page-link');
                    if (lang_index !== -1) {
                        backPageLink.innerText = '返回';
                    } else if (is_main_page) {
                        backPageLink.style.display = 'none';
                    } else {
                        backPageLink.innerText = 'Back';
                    }
                    backPageLink.href = getReturnToBackPageUrl();

                    const redirectToLanguage = () => {
                    };
                </script>
            </div>
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>

    <script>
        addColoredBlockHandler();
    </script>

    <script type="module">

        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';

        const initMermaid = () => {
            document.querySelectorAll('pre > code.language-mermaid').forEach((code) => {
                const pre = code.parentElement;
                pre.classList.add('mermaid');
                pre.textContent = code.textContent;
            });

            mermaid.initialize({
                startOnLoad: true,
                theme: 'dark'
            });
        };

        initMermaid();

    </script>

</body>

</html>
